
.hero-unit
  %table{:class =>'table table-bordered table-striped'}
    - @adverts.each do |advert|
      %tr
        %td= advert.work_category
        %td= advert.town_country
        %td= advert.Company
      
      
      
= will_paginate @adverts



