.hero-unit
  %table{:class =>'table table-striped stacked',:id=>"adtable"}
    - @adverts.each do |advert|
      %tr{:onclick=>"onClickTableCell(#{advert.id}); return false"}
        %td
          -if !advert.icon.nil? && !advert.icon.blank?
            %img{:src=>"#{advert.icon}",:height=>"50",:width=>"80",:style=>"margin-top:10px;margin-left:10px;"}
          -else
            %img{:src=>"../images/work2.png",:height=>"20",:width=>"30",:style=>"margin-top:10px;margin-left:10px;"}

        %td
          #work_cat_div
            = advert.work_category
          #work_company_name_div
            =advert.company
        %td
          #div_work_type
            -if advert.employment_type == 'fulltime'
              %span{:class=>"label label-info"} Полная занятость
            -if advert.employment_type == 'parttime'
              %span{:class=>"label label-success"} Частичная занятость
            -if advert.employment_type == 'remote'
              %span{:class=>"label label-warning"} Удаленная работа
            -if advert.employment_type == 'forone'
              %span{:class=>"label"} Работа на один раз
          #div_time_create
          #{time_ago_in_words(advert.created_at)} назад
        %td
          #work_town
            #work_img_div
              %img{:src=>"../images/location2.png",:height=>"40",:width=>"40"}
            #work_towncountry_div
              =advert.town_country


