.hero-unit
  .advert_table_div
    - @adverts.each do |advert|
      .advert_cell_div{:onclick=>"onClickTableCell(#{advert.id}); return false"}
        .advert_icon_cell_div
          -if !advert.icon.nil? && !advert.icon.blank?
            %img{:src=>"#{advert.icon}",:class=>"advert_cell_img"}
          -else
            %img{:src=>"../images/work2.png"}
        .advert_town_cell_div
          .work_town
            .work_img_div
              %img{:src=>"../images/location2.png",:height=>"40",:width=>"40"}
            .work_towncountry_div
              =advert.town_country
        .advert_worktype_timecr_cell_div
          .div_work_type
            -if advert.employment_type == 'fulltime'
              %span{:class=>"label label-info",:style=>"padding-left:10px;padding-right:10px;"} Полная занятость
            -if advert.employment_type == 'parttime'
              %span{:class=>"label label-success",:style=>"padding-left:10px;padding-right:10px;"} Частичная занятость
            -if advert.employment_type == 'remote'
              %span{:class=>"label label-warning",:style=>"padding-left:8px;padding-right:8px;"} Удаленная работа
            -if advert.employment_type == 'forone'
              %span{:class=>"label"} Работа на один раз
          .div_time_create
          #{time_ago_in_words(advert.created_at)} назад
        .advert_cat_company_cell_div
          .work_cat_div
            = advert.work_category
          .work_company_name_div
            =advert.company
        

