



.text {
    background: url(../images/up1.png) no-repeat 10px 6px #fcfcfc;
    }
    body{background: url(../images/pattern4.png) repeat scroll 0 0 #F4F4F4}
    #adverts_search {margin-top: 10px; }
#search {
    background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
     width: 200px;
    padding: 6px 40px 6px 35px;
   }
 


#town {
    background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    width: 170px;
    padding: 6px 40px 6px 35px;
   }
 





.control-label{font-weight: bold;}
#advert_work_category{size:300;height: 30px;width: 250px;}

#header{ margin: 0 auto;
    width: 920px;

}

#header #menu {
    float: right;
    line-height: 2em;
    vertical-align: top;
}

#menu {

 font-size: 15px;
 }

#header {
    height: 2em;
    margin-top: 2em;
        margin-bottom: 100px;
}

#header #add_job {
    float: left;
    margin-left: 2em;
}

#header #logo, #header #logo a {
    height: 2em;
    min-height: 30px;
}
#header #logo {
    background: url("/images/logotype.png?1343997384") no-repeat scroll 50% 50% transparent;
    float: left;
    margin-top: -5px;
    overflow: hidden;
    text-indent: -10000px;
    width: 180px;
}
#header #logo a {
    display: block;
}


#searchlabel{opacity: 0.5; display: block;}

#loader {
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
}
#container{background-color:white;
box-shadow:0 0 10px #AAAAAA;
border-radius:3px 3px 3px 3px;
 margin: 0 auto;
    width: 920px;
    position: relative;
}


.hero-unit{background-color:white;}

/** 
 * While we're having the loading class set.
 * Removig it, will remove the loading message
 */
#loader.loading {
  background: url(/images/spinner.gif) no-repeat center center;
}


.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}