#adtable{width: 100%}
.table th, .table td {
padding: 5px;
}

#image_div{display:inline-block;}
#link_div{display:inline-block;float: right; margin-right: 55px;padding-top: 20px;}
#lw_div{display:inline-block;font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
font-size:30px;margin-right:10px;margin-top: 20px;}

form{margin-bottom: 5px;}
#header{margin-left: auto;margin-right: auto;display: table; 
     padding-bottom: 15px;
    width:940px}

.span9{width:690px;padding: 0;}
.span3{width:100px;}
#adverts{width: 690px;}
#adverts_search {width: 100%; }
#vk_like{padding-left:  5px;padding-top: 10px;padding-bottom: 10px;}

#div_page_buttons_moderation4{margin-left: 20px;}
#div_page_text_moderation1{padding: 10px;}
#div_page_text_moderation2{padding: 10px;font-weight: bold;}
#div_page_text_moderation3{padding: 10px;}
#headtable{float: left;}

#back_link{padding: 7px;margin-bottom: 10px;}
#money_div_content{font-weight: bold}
.alert-info{color: black;}
.radio, .checkbox {
    padding-left: 5px;
}

#preview-returnedit{width: 120px; clear:both;}

#preview-save{width: 143px;clear:both;margin-top: 10px;margin-bottom: 10px;}

#div_page_cotrols_container{padding: 15px;}
#preview_page_controls{display:inline-block;}
#div_page_text{display:inline-block;width: 70%}
#div_page_buttons{display:inline-block;float: right;}

#text{color: black;font-size: 14px;padding: 15px;}

#emaildivlogo,#emaildivtext{margin-top: 10px;display:inline-block}
#telefondivlogo{display:inline-block;}

#div_page_text_moderation1,#div_page_text_moderation2,#div_page_text_moderation3,#money_div_content,#money_div_logo,#emaildivlogo,#telefondivlogo,#telefondivcontent,
#money_div_content,#money_div_logo,#emaildivtext, #work_company_name_div,#basedemands-spalogo{font-size: 16px;}

#work_company_name_div{margin-top: 6px;}

#money_div_content,#money_div_logo,#telefondivcontent{display: inline-block;}

#site-link{font-size: 16px;}
 
input.error{
    background: #f8dbdb;
    border-color: #e77776;
}


span.error{
   border:  1px solid #D3D3D3;
}
 


#basedemands-content{background-color: white;margin-top: 10px;}  
.well{border-color: #BCE8F1;background-color: white;}

.alert-info{background-color:#F5F5F5;}

/*.hero-unit{padding: 0px;padding-left: 40px;padding-right: 23px;
 background:url("../images/pattern4.png") repeat scroll 0 0 transparent}
 */


.hero-unit{padding: 10px;}




table{
border-right:1px solid #EEEEEE;
 border-left:1px solid #EEEEEE;   
}
.left-container{
 width: 73%;
 float:left;

}
 

.span3{margin-top: 0px;}
 
.header-adverts-div{background: url("../images/headeradverts.png") repeat scroll left top transparent}

.aboutheader{margin-left: 10px;margin-top: 10px;}

.aboutwork{margin-top: 10px;}

.aboutdiv{margin-top:30px;border-radius:4px 4px 4px 4px;border:1px solid #FBEED5;background-color:#FCF8E3;}



#mainformdiv{ 
     background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px 4px 4px 4px;
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    border: 1px solid #BCE8F1;
}

 

 
  
#aboutdiv{float: right;}

#div_work_type{margin-top: 6px;}

#work_img_div{float: left;display: inline-block;}

#work_towncountry_div,#work_towncountry_div_preview{display: inline-block;margin-top: 10px;}

#work_towncountry_div_preview{font-size: 16px;}

#div_time_create{margin-top: 10px;}

#work_town{display: inline-block;}

#work_cat_div{display: inline-block;font-weight: bold;font-size: 0.875emp;margin-top: 5px;}

.btn-info{width:150px;}

.top-bar {
    background: url("../images/top-bar-white.png") repeat-x scroll 0 -5px transparent;
    border-bottom: medium none;
    box-shadow: none;
    filter: none;
    height: 50px;
    margin-bottom: -5px;}


.label-warning{background-color:#ED8845; }
.label{padding-top: 5px;padding-bottom: 5px;font-family: Arial;font-weight: normal;font-size: 12px;  }
.table-striped tr:hover {
    cursor: pointer;
}
.table-striped tr {
    height: 65px;
}
.alert{padding: 0;}

.stacked {
    box-shadow: 0 5px 0 -4px #FFFFFF, 0 5px 0 -3px #C2C0B8, 0 11px 0 -8px #FFFFFF, 0 11px 0 -7px #C2C0B8, 0 17px 0 -12px #FFFFFF, 0 17px 0 -11px #C2C0B8 !important;
}


.text {
    background: url(../images/up1.png) no-repeat 10px 6px #fcfcfc;
    }
    body{background: url(../images/pattern4.png) repeat scroll 0 0 #F4F4F4}
    
#search {
    background: url(../images/search-white.png) no-repeat 10px 15px #fcfcfc;
    border: 1px solid #d1d1d1;
     width: 230px;
     height: 20px;
     font-size: 14px;
    padding: 10px 100px 6px 35px;
   }
 


#town {
    background: url(../images/search-white.png) no-repeat 10px 15px #fcfcfc;
    border: 1px solid #d1d1d1;
      width: 150px;
     height: 20px;
     font-size: 14px;
    padding: 10px 100px 6px 35px;
   }
 





.control-label{font-weight: bold;}
#advert_work_category{size:300;height: 30px;width: 250px;}

 

 

#addVacansyButton{ height: 20px;}

#menu {

 font-size: 15px;
 }
 

#bottom{margin: 0 auto;
    width: 920px;
    line-height: 2em;
    vertical-align: bottom;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 7em;
}



 


#searchlabel{opacity: 0.5; display: block;}

#loader {
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
}
#container{background-color:white;
box-shadow:0 0 10px #AAAAAA;
border-radius:3px 3px 3px 3px;
 margin: 0 auto;
width: 920px;
position: relative;
}


.hero-unit{background-color:white;}

/** 
 * While we're having the loading class set.
 * Removig it, will remove the loading message
 */
#loader.loading {
  background: url(/images/spinner.gif) no-repeat center center;
}


.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}

#menu{font-size: 17px;}