 
.well{margin-top: 30px;border-color: #BCE8F1;}

.alert-info{background-color:#F5F5F5}
.hero-unit{padding: 0px;padding-left: 40px;padding-right: 23px; background:url("../images/pattern4.png") repeat scroll 0 0 transparent}
table{
border-right:1px solid #EEEEEE;
 border-left:1px solid #EEEEEE;   
}
.left-container{
 width: 73%;
 float:left;

}

.right-container{width: 100%;
    float:left;
    margin:0 0 0 100%;
}

.row-left{

    float:left;
    width:100%;
    margin:0 0 0 -100%;
}

.row-right{
    float: left;
}

.row{position: relative;float: left;}



.span3{float: right;}
.span3:after{
     border: 1px solid #0000FF;
    box-shadow: 0 0 5px #0000FF;
    content: "";
    display: block;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 160px;
    z-index: -1;

}



.span9{float: left;background-color: white;width: 740px;}

.span9:after{    border: 1px solid #0000FF;
    box-shadow: 0 0 5px #0000FF;
    content: "";
    display: block;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 160px;
    z-index: -1;}

.header-adverts-div{background: url("../images/headeradverts.png") repeat scroll left top transparent}

.aboutheader{margin-left: 10px;margin-top: 10px;}

.aboutwork{margin-top: 10px;}

.aboutdiv{margin-top:30px;border-radius:4px 4px 4px 4px;border:1px solid #FBEED5;background-color:#FCF8E3;}



#mainformdiv{width:90%;margin-left:6%;}

.container{width: 1024px;position: relative;}

  
#aboutdiv{float: right;}

#div_work_type{margin-top: 6px;}

#work_img_div{float: left;display: inline-block;}

#work_towncountry_div{display: inline-block;margin-top: 10px;}

#div_time_create{margin-top: 10px;}

#work_town{display: inline-block;}

#work_cat_div{display: inline-block;font-weight: bold;font-size: 17px;margin-bottom: 7px;}

.btn-info{width:150px;}

.top-bar {
    background: url("../images/top-bar-white.png") repeat-x scroll 0 -5px transparent;
    border-bottom: medium none;
    box-shadow: none;
    filter: none;
    height: 50px;
    margin-bottom: -5px;}


.label-warning{background-color:#ED8845; }
.label{padding-top: 5px;padding-bottom: 5px;font-family: Arial;font-weight: normal;font-size: 12px;  }
.table-striped tr:hover {
    cursor: pointer;
}
.table-striped tr {
    height: 65px;
}
.alert{padding: 0;}

.stacked {
    box-shadow: 0 5px 0 -4px #FFFFFF, 0 5px 0 -3px #C2C0B8, 0 11px 0 -8px #FFFFFF, 0 11px 0 -7px #C2C0B8, 0 17px 0 -12px #FFFFFF, 0 17px 0 -11px #C2C0B8 !important;
}


.text {
    background: url(../images/up1.png) no-repeat 10px 6px #fcfcfc;
    }
    body{background: url(../images/pattern4.png) repeat scroll 0 0 #F4F4F4}
    #adverts_search {margin-top: 10px; }
#search {
    background: url(../images/search-white.png) no-repeat 10px 15px #fcfcfc;
    border: 1px solid #d1d1d1;
     width: 200px;
     height: 30px;
     font-size: 20px;
    padding: 10px 100px 6px 35px;
   }
 


#town {
    background: url(../images/search-white.png) no-repeat 10px 15px #fcfcfc;
    border: 1px solid #d1d1d1;
    width: 170px;
    padding: 10px 80px 6px 35px;
    height: 30px;
     font-size: 20px;
   }
 





.control-label{font-weight: bold;}
#advert_work_category{size:300;height: 30px;width: 250px;}

#header{ margin: 0 auto;
    width: 920px;

}

#header #menu {
    float: right;
    line-height: 2em;
    vertical-align: top;
}

#addVacansyButton{float: right;}

#menu {

 font-size: 15px;
 }

#header {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 7em;
}

#bottom{margin: 0 auto;
    width: 920px;
    line-height: 2em;
    vertical-align: bottom;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 7em;
}




#header #add_job {
    float: left;
    margin-left: 2em;
}

#header #logo, #header #logo a {
    height: 2em;
    min-height: 30px;
}
#header #logo {
    background: url("/images/logotype.png?1343997384") no-repeat scroll 50% 50% transparent;
    float: left;
    margin-top: -5px;
    overflow: hidden;
    text-indent: -10000px;
    width: 180px;
}
#header #logo a {
    display: block;
}


#searchlabel{opacity: 0.5; display: block;}

#loader {
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
}
#container{background-color:white;
box-shadow:0 0 10px #AAAAAA;
border-radius:3px 3px 3px 3px;
 margin: 0 auto;
    width: 920px;
    position: relative;
}


.hero-unit{background-color:white;}

/** 
 * While we're having the loading class set.
 * Removig it, will remove the loading message
 */
#loader.loading {
  background: url(/images/spinner.gif) no-repeat center center;
}


.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}

#menu{font-size: 17px;}